.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
  width: 100%;
}
.header__icon {
  object-fit: contain;
  height: 100px;
  margin-left: 20px;
  width: 100px;
}
.header__center {
  display: flex;
  align-items: center;
  flex: 1;
  max-width: fit-content;
  padding: 10px;
  height: 30px;
  border: 1px solid lightgrey;
  border-radius: 50px;
}
.header__center > input {
  border: none;
  outline: none;
  width: 300px;
  padding: 10px;
}
.header__right > .MuiSvgIcon-root {
  margin-right: 6px;
}
.header__right > p {
  margin-right: 10px;
  font-size: 14.5px;
}
.header__right {
  display: flex;
  align-items: center;
  margin-right: 50px;
  justify-content: space-between;
  width: 15vw;
}
